## Import Statements

In [ ]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules

## Read Files

In [ ]:
#df=pd.read_excel('/content/drive/MyDrive/Business Analytics /Dataset/OnlineRetail.xlsx')
df=pd.read_excel('OnlineRetail.xlsx')

## View Sample data

In [ ]:
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom

In [ ]:
# Find unique Country
df['Country'].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)

## Pre-processing

In [ ]:
df_cleaned=df[df['Quantity']>0]
df_cleaned=df_cleaned.dropna()
df_cleaned['Description'] = df_cleaned['Description'].str.strip()

In [ ]:
df_cleaned.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

## Selecting Data / Sample Selection

In [ ]:

#df_USA = df_cleaned[df_cleaned['Country'] =="USA"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().set_index('InvoiceNo')

df_France = df_cleaned[df_cleaned['Country'] =="France"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().set_index('InvoiceNo')

#df_UnitedKingdom = df_cleaned[df_cleaned['Country'] =="United Kingdom"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().set_index('InvoiceNo')

#df_Germany = df_cleaned[df_cleaned['Country'] =="Germany"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().set_index('InvoiceNo')

#df_Finland = df_cleaned[df_cleaned['Country'] =="Finland"].groupby(['InvoiceNo', 'Description'])['Quantity'].sum().unstack().reset_index().set_index('InvoiceNo')

In [ ]:
# Basket encoding

#basket_encoded_USA = df_USA.map(lambda x: True if x > 0 else False)

basket_encoded_France = df_France.map(lambda x: True if x > 0 else False)

#basket_encoded_UnitedKingdom = df_UnitedKingdom.map(lambda x: True if x > 0 else False)

#basket_encoded_Germany = df_Germany.map(lambda x: True if x > 0 else False)

#basket_encoded_Finland = df_Finland.map(lambda x: True if x > 0 else False)

## Apriori Algorithm

#### Finding Frequent Itemsets

In [ ]:
#frequent_itemsets_USA = apriori(basket_encoded_USA, min_support=0.15, use_colnames=True)

frequent_itemsets_France = apriori(basket_encoded_France, min_support=0.15, use_colnames=True)

#frequent_itemsets_UnitedKingdom = apriori(basket_encoded_UnitedKingdom, min_support=0.15, use_colnames=True)

#frequent_itemsets_Germany = apriori(basket_encoded_Germany, min_support=0.15, use_colnames=True)

#frequent_itemsets_Finland = apriori(basket_encoded_Finland, min_support=0.15, use_colnames=True)

#### Pass the frequent itemset to Apriori algorithm

In [ ]:
#rules_USA = association_rules(frequent_itemsets_USA, metric="lift", min_threshold=1)

rules_France = association_rules(frequent_itemsets_France, metric="lift", min_threshold=1)

#rules_UnitedKingdom = association_rules(frequent_itemsets_UnitedKingdom, metric="lift", min_threshold=1)

#rules_Germany = association_rules(frequent_itemsets_Germany, metric="lift", min_threshold=1)

#rules_Finland = association_rules(frequent_itemsets_Finland, metric="lift", min_threshold=1)

#### Generate valid rules

In [ ]:
#print("Valid rules for USA-")
#print(rules_USA[['antecedents', 'consequents', 'support', 'confidence', 'lift']],'\n\n\n')

print("Valid rules for France-")
print(rules_France[['antecedents', 'consequents', 'support', 'confidence', 'lift']],'\n\n\n')

#print("Valid rules for UnitedKingdom-")
#print(rules_UnitedKingdom[['antecedents', 'consequents', 'support', 'confidence', 'lift']],'\n\n\n')

#print("Valid rules for Germany-")
#print(rules_Germany[['antecedents', 'consequents', 'support', 'confidence', 'lift']],'\n\n\n')

#print("Valid rules for Finland-")
#print(rules_Finland[['antecedents', 'consequents', 'support', 'confidence', 'lift']],'\n\n\n')

Valid rules for France-
                       antecedents                      consequents   support  \
0                        (POSTAGE)             (RABBIT NIGHT LIGHT)  0.167095
1             (RABBIT NIGHT LIGHT)                        (POSTAGE)  0.167095
2  (RED TOADSTOOL LED NIGHT LIGHT)                        (POSTAGE)  0.159383
3                        (POSTAGE)  (RED TOADSTOOL LED NIGHT LIGHT)  0.159383

   confidence      lift
0    0.216667  1.154566
1    0.890411  1.154566
2    0.885714  1.148476
3    0.206667  1.148476